<div class="media">
  <a href="product-page(no-sidebar).html"
    ><img class="img-fluid blur-up lazyload" [src]="items.image" alt=""
  /></a>
  <div class="media-body align-self-center">
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <a href="product-page(no-sidebar).html">
      <h6>{{ items.name }}</h6>
    </a>
    <h4>{{ items.price | currency }} <del>$600.00</del></h4>
  </div>
</div>
